<!doctype html>

<title>
	Welcome To FlyAway
</title>

<head>
	<style>
		body {
			background-image: url("http://img.clipartall.com/world-map-for-wall-free-images-at-clker-com-vector-clip-art-online-world-map-clipart-4200_2085.png");
			background-size: cover;
			background-repeat: no-repeat;
		}
	</style>
</head>

<body>

<div id="info">
	<h1>Tell us your flight details</h1>
	<form method="post" action="/query">
		<label for="currency">Currency: </label>
		<input type="text" id="currency" name="currency" value="" placeholder="GBP" required="required" autofocus="autofocus" />
		<br>
		<br>
		<label for="locale">Locale: </label>
		<input type="text" id="locale" name="locale" value="" placeholder="en-GB" required="required" autofocus="autofocus" />
		<br>
		<br>
		<label for="originplace">Originplace: </label>
		<input type="text" id="originplace" name="originplace" value="" placeholder="SIN-sky" required="required" autofocus="autofocus" />
		<br>
		<br>
		<label for="destinationplace">Destinationplace: </label>
		<input type="text" id="destinationplace" name="destinationplace" value="" placeholder="KUL-sky" required="required" autofocus="autofocus" />
		<br>
		<br>
		<label for="outbounddate">Outbounddate: </label>
		<input type="text" id="outbounddate" name="outbounddate" value="" placeholder="2017-05-28" required="required" autofocus="autofocus" />
		<br>
		<br>
		<label for="inbounddate">Inbounddate: </label>
		<input type="text" id="inbounddate" name="inbounddate" value="" placeholder="2017-05-31"
		required="required" autofocus="autofocus" />
		<br>
		<br>
		<label for="adults">Adults: </label>
		<input type="text" id="adults" name="adults" value="" placeholder="1"
		required="required" autofocus="autofocus" />
		<br>
		<br>
		<input type="submit" value="Submit" id="submit-button" />
	</form>
</div>

</body>